:root{
  --main-color: #3338f7;
  --tonedown-color: #2038b0;
}

body {
  overflow: hidden;
  position: relative;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #eaf2fb;
  font-family: 'Titillium Web', 'NanumSquareRound', sans-serif;
}

/* ========== 가상요소 공통 코드 ========== */
.login-submit::after,#done::after, #all::after, #total-delete::after, .add-btn::after, .up::after, #delete::after, .modal_icon::after, .logout-modal_icon::after, .task_xbtn::after, .delete-close::after, .logout-delete-close::after {
  font-weight: 100;
  font-family: FontAwesome;
  position: absolute;
}

.login-form, .checkBtns{
  transition: all .3s;
}

.login-inner-container {
  background-color: #fff;
  box-shadow: #b4cdeb87 0px 10px 20px -3px, #5473985f 0px 4px 10px -2px;
}

.headline-text{
  width: 100%;
  color: #fff;
  background-color: var(--main-color);
  text-align: center;
  padding: 10px;
}

form{
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
}

#login-input{
  width: 0;
  font-size: 17px;
  box-shadow:#8da1cc 2px 2px 4px 1px inset;
  background-color:#b6c7ee;
  color: #000;
  transition: all .3s;
  padding: 10px;
}

.login-submit{
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: #fff;
  transition: all .3s;
}

.login-submit::after{
  content: "\f061";
  color: #fff;
  font-size: 0.9rem;
}

.login-submit:hover{
  border: 1px solid var(--main-color);
  background: none;
  color: var(--main-color);
}
.login-submit:hover::after{
  color: var(--main-color);
}
.effect{
  animation: effect .1s infinite;
}
@keyframes effect {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

.user_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  padding: 15px;
}
.user-id{
  font-weight: 900;
}
.logout{
  cursor: pointer;
  font-weight: 600;
  background-color: #fff;
  color: var(--main-color);
  padding: 5px 8px;
}

.container {
  background-color: #fff;
  transition: all .2s;
  position: absolute;
  width: 450px;
  height: calc(100% - 100px);
  max-height: 500px;
  overflow-y: scroll;
  box-shadow: #93b3d7b7 0px 10px 25px -3px, #3954749a 0px 4px 10px -2px;
  /* overflow: hidden; */
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.container::-webkit-scrollbar{
  display: none; 
}


@media screen and (max-width: 500px){
  .container {
    width: calc(100% - 10%);
    height: calc(100% - 80px);
  }
}

.calendar{
  text-align: center;
  letter-spacing: 3px;
  color: var(--tonedown-color);
  background-color: #fff;
  border-bottom: 1px solid #4a50fa2f;
  padding: 20px;
}
.day{
  font-size: 1.2rem;
  font-weight: 900;
}

.top-filter-box{
  overflow: hidden;
  text-align: center;
  width: 100%;
  font-size: 0;
}
.tabs{
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab{
  background-color: #eaeaea;
  cursor: pointer;
  width: 100%;
  color: var(--tonedown-color);
  transition: all .3s;
  border-bottom: 1px solid #4a50fa2f;
  padding: 30px;
}
.choose{
  transition: all .3s;
  background-color: #fff;
  font-weight: 700;
  border-bottom: 1px solid #fff;
}

#all, #done{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
#all::after{
  content: "\f03a";
}
#done::after{
  content: "\f00c";
}

.list_box {
  width: 100%;
}

.list {
  color: var(--tonedown-color);
  position: relative;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid #ffffff2f;
}

#items{
  line-height: 20px;
  width: calc(100% - 130px);
  word-break: break-all;
}

.list-btns{
  font-weight: bold;
  cursor: pointer;
}

.checkBtns{
  opacity: 0;
  visibility: hidden;
}

.list:active .checkBtns, .list:hover .checkBtns{
  opacity: 1;
  visibility: visible;
}
.list:active, .list:hover{
  cursor: pointer;
  border-bottom: 1px solid #4a50fa2f;
}
@media screen and (max-width: 500px) {
  .checkBtns{
    opacity: 1;
    visibility: visible;
  }
}

.checkBtns button{
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  float: left;
}

#delete{
  color: #fd2a38;
  background-color: #ffe8e8;
  margin-right: 5px;
}
#delete::after{
  content: "\f00d";
}

.up {
  background-color: #edf2fd;
  color: #6692e1;
}
.up::after{
  content: "\f062";
}

#check, #finish{
  font-size: 1.1rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0);
  color: var(--tonedown-color);
}
.end-list {
  color:rgb(192, 192, 192);
  text-decoration: line-through;
}

.add_list{
  background-color: #fff;
  border-bottom: 1px solid #4a50fa2f;
  color: var(--tonedown-color);
  letter-spacing: 2px;
}
.add_list ul{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.add_list li{
  padding: 10px;
  width: calc(100% / 3);
}
.add-btn, #total-delete{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* =======모달창 공통 코드======= */
.task_add_modal, .delete-modal, .logout-delete-modal{
  transition: all .3s;
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}

.delete-bg, .logout-delete-bg,.task_modal_bg{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color:  rgba(21, 21, 21, 0.6);
}
/* ============================ */

.inner_task_modal{
  box-shadow: rgba(80, 80, 87, 0.8) 0px 7px 29px 0px;
  background-color: var(--main-color);
}
#title_task_modal{
  position: relative;
  color: var(--tonedown-color);
  width: 100%;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #fff;
}

.task_xbtn{
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
}
.task_xbtn::after{
  content: "\58";
  top: 0px;
  right: 0px;
  border: 1px solid var(--tonedown-color);
  color: var(--tonedown-color);
  padding: 5px 7px;
}

.inner_input_box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  margin: 27px;
}
.input_box{
  position: relative;
  width: 95%;
}

#text{
  background-color: #fff;
  color: rgb(27, 28, 33);
  font-size: 1rem;
  padding: 10px 5px;
  padding-right: 27px;
}
#xbtn{
  background: none;
  font-size: 1rem;
  position: absolute;
  right: 14px;
  line-height: 37px;
  cursor: pointer;
  color: var(--tonedown-color);
}
#xbtn::after{
  content: "\58";
  font-family: FontAwesome;
  position: absolute;
}
.input_maxlength{
  margin-top: 8px;
  color:rgb(192, 192, 192);
  width: 100%;
  font-size: 13px;
  text-align: right;
}

.task_btn{
  cursor: pointer;
  text-transform: uppercase;
  padding: 11.5px;
  background-color: var(--tonedown-color);
  color: #fff;
}
.btn-disabled{
  cursor: no-drop;
  background:#a7a7a7;
  color: #fff;
}

.add-btn{
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color:var(--main-color);
}
.add-btn::after{
  content: "\2b";
  transition: all .3s;
  color: #fff;
}
.add-btn:hover::after{
  transform: rotate(180deg);
}

#total-delete{
  position: relative;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:var(--main-color);
}
#total-delete::after{
  content: "\f1f8";
  color: #fff;
}

/*전체삭제 버튼 모달창*/
.modal-box, .logout-modal-box{
  background-color: var(--main-color);
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
  position: absolute;
  z-index: 2;
}
.top-delete-close{
  height: 30px;
  background-color: #fff;
}
.logout-top-delete-close{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--tonedown-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: .9rem;
  height: 30px;
  background-color: #fff;
}
.delete-close::after, .logout-delete-close::after{
  cursor: pointer;
  content: "\58";
  top: 2px;
  right: 2px;
  padding: 5px 7px;
  border: 1px solid var(--tonedown-color);
  color: var(--tonedown-color);
  font-size: .9rem;
}

.flex-modal-box, .logout-flex-modal-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.modal_icon{
  position: relative;
  text-align: center;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #282db8;
}

.modal_icon::after{
  content: "\21";
  color: #fff;
}

.logout-modal_icon{
  position: relative;
  padding: 20px;
  display: grid;
  place-items: center;
}
.logout-modal_icon::after{
  content: "\f071";
  font-size: 2.2rem;
  color: #fff;
}

.modal-box h1, .logout-modal-box h1{
  color: #fff;
  word-break: keep-all;
  margin: 20px;
}
.modalbtn, .logout-modalbtn{
  cursor: pointer;
  color: var(--tonedown-color);
  padding: 10px 20px;
  font-weight: bold;
  background-color: #fff;
  box-shadow: #282db8 0px 2px 5px 0px;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}
.show{
  opacity: 1;
  visibility: visible;
}